<h1>Hello, world!</h1>
<p>Welcome to the technical interview for the position of Software Engineer at Gallagher Re.</p>
<p>This is a simple ASP.Net Core application with Angular. It includes following tabs:</p>
<ul>
  <li><strong>Counter:</strong> simple counter which is incremented by pressing a button</li>
  <li><strong>Sanctioned Entities:</strong> table displaying sanctioned entities fetched from the server</li>
</ul>
<p>Having ability to modify all parts of the code and use the Internet or your own notes, please tackle the following problems:</p>
<ul>
  <li>Display the counter on the home page
    <ul>
      <li>Number on the Counter page should always match the one on the Home page</li>
      <li>The count should persist when switching between the tabs</li>
    </ul>
  </li>
  <li>Add a capability to add a sanctioned entity
    <ul>
      <li>Add a form to provide details of a new sanctioned entity</li>
      <li>The status should use a
        <a href="https://getbootstrap.com/docs/4.6/components/forms/#switches" target="_blank">Bootstrap switch</a>
      </li>
      <li>No property of the sanctioned entity can be empty</li>
      <li>The code needs to ensure that there cannot be more than one entity with the same name and domicile</li>
    </ul>
  </li>
</ul>

<app-jumbotron-counter></app-jumbotron-counter>
