<h1 id="tableLabel">Sanctioned Entities</h1>

<p *ngIf="!entities"><em>Loading...</em></p>

<div class="mt-3 mb-2">
    <a class="btn btn-primary" [routerLink]="['/add-sanctioned-entity']">Add Sanction Entity</a>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="entities">
    <thead>
    <tr>
        <th>Name</th>
        <th>Domicile</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities">
        <td>{{ entity.name }}</td>
        <td>{{ entity.domicile }}</td>
        <td *ngIf="entity.accepted" class="text-success">Accepted</td>
        <td *ngIf="!entity.accepted" class="text-danger">Rejected</td>
    </tr>
    </tbody>
</table>
